{% extends 'base.html.twig' %}

{% block body %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Europe Travel!</h1>
        <p>Travel to the four corners of the world,without going around in circles.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">&raquo; Help me plan my trip</a></p>
      </div>
    </div>

    <div class="container">


    </div> <!-- /container -->
{% endblock %}