{% extends 'base.html.twig' %}
{% form_theme form ':Form:fields.html.twig' %}
{% block body %}
    <h1>Country creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Create" />
    {{ form_end(form) }}

    <a class="btn btn-info" href="{{ path('country_index') }}">Back to the list</a>

{% endblock %}
